@model  TabLeitor
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="main-title h1 logo-text"></header>
@using (Html.BeginForm("Autenticar", "Leitor", FormMethod.Post, new { }))
{
    <div class="panel-body">
        <form>

            @Html.ValidationMessageFor(model => model.dsSenha)
            @if (ViewBag.ErroAutentica != null)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @ViewBag.ErroAutentica
                </div>
            }

            @Html.TextBoxFor(model => model.dsLogin, new { @class = "form-control form-login", id = "input-titulo", placeholder = "Login", required = "required", oninvalid = "this.setCustomValidity('Digite o login')", oninput = "setCustomValidity('')" })

            @Html.TextBoxFor(model => model.dsSenha, new { @class = "form-control form-login", id = "input-descricao", placeholder = "Senha", type = "password", required = "required", oninvalid = "this.setCustomValidity('Digite a senha')", oninput = "setCustomValidity('')" })

            <button type="submit" class="btn btn-default">Entrar</button>
            @Html.ActionLink("Cadastre-se", "FormCadastro", "Leitor", new { }, new { @class = "btn btn-default" })
            
            
        </form>

        <a href="#">Esqueceu a senha?</a>
    </div>
}

