@model Tuple<List<SelectListItem>, List<SelectListItem>, int>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1 class="content-brief">Publique uma resenha</h1>
@using (Ajax.BeginForm("Publicar", "Resenha", new { idLeitor = @Model.Item3 },
new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "qlivros-modal-content",
    OnSuccess = "QLivrosModal",
}, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("fkIdLeitor", Model.Item3)
    <div class="container-fluid">
        <div class="row text-left">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Selecione o exemplar o qual deseja referenciar", new { })
                    @Html.DropDownList("fkIdExemplar", Model.Item1, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                    @Html.Label("Informe o tipo da resenha", new { })
                    @Html.DropDownList("dsTipoResenha", Model.Item2, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextArea("dsResenha", new { @class = "form-control", placeholder = "Entre com a resenha", type = "text", required = "required", oninvalid = "this.setCustomValidity('Entre com a resenha')", oninput = "setCustomValidity('')", rows = 5 })
                </div>
            </div>

        </div>
    </div>

    <button id="s9ads-btn-create-psettings" type="submit" class="btn btn-primary" data-loading-text="Aguarde..." autocomplete="off">
        Publicar <span class="glyphicon glyphicon-pencil"></span>
    </button>

    @Html.ActionLink("Cancelar", "Index", "Home", new { idLeitor = @Model.Item3 }, new { @class = "btn btn-default" })


}

