@model TabHistorico

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-content bs-callout bs-callout-danger">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true" onclick="location.href = '@Url.Action("Index","Home",new{idLeitor = Model.fkIdLeitor}) '" ">&times;</span>
            <span class="sr-only">Fechar</span>
        </button>
        <h1 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-flag"></span> Notificação</h1>
    </div>
    <div class="modal-body">
        <p class="lead">@Model.TabLeitor.dsLogin deseja doar:</p>

        <strong>Título:</strong>@Model.TabExemplar.TabTitulo.nmTitulo<br>
        <strong>Autor:</strong>@Model.TabExemplar.nmAutor<br>
        <strong>Editora:</strong>@Model.TabExemplar.nmEditora<br>
        <strong>Edição: </strong>@Model.TabExemplar.dsEdicao

    </div>

    <div class="modal-footer text-right">

        @Ajax.ActionLink("Aceitar", "Resultado", "Historico", new { idReceptor = @Model.fkIdReceptor, idDoador = @Model.fkIdLeitor, idExemplar = @Model.fkIdExemplar, resposta = "aceito" },
                new AjaxOptions()
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "qlivros-modal-content",
                    OnSuccess = "QLivrosModal",
                }, new { @class = "btn btn-primary" })


        @Ajax.ActionLink("Rejeitar", "Resultado", "Historico", new { idReceptor = @Model.fkIdReceptor, idDoador = @Model.fkIdLeitor, idExemplar = @Model.fkIdExemplar, resposta = "recusado" },
                new AjaxOptions()
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "qlivros-modal-content",
                    OnSuccess = "QLivrosModal",
                }, new { @class = "btn btn-default" })

    </div>

</div>

