@{
    ViewBag.Title = "ListaRanking";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h3 class="text-left"><strong>Ranking Exemplares</strong></h3>
<table id="exemplares" class="table center table-striped">
    <thead>
        <tr>
            <th class="text-center">Posição</th>
            <th class="text-left">Exemplar</th>
            <th class="text-center">Leitores</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-center">Posição</th>
            <th class="text-left">Exemplar</th>
            <th class="text-center">Leitores</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var exemplar in ViewBag.Livro)
        {
            <tr>
                <td class="text-center">@exemplar.idHistorico</td>
                <td class="text-left">@exemplar.TabExemplar.TabTitulo.nmTitulo</td>
                <td class="text-center">@exemplar.dsStatus</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h3 class="text-left"><strong>Ranking Leitores</strong></h3>
<table id="leitores" class="table center table-striped">
    <thead>
        <tr>
            <th class="text-center">Posição</th>
            <th class="text-left">Leitor</th>
            <th class="text-center">Repasses</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-center">Posição</th>
            <th class="text-left">Leitor</th>
            <th class="text-center">Exemplares</th>
        </tr>
    </tfoot>
    <tr>
        <td class="text-center">@ViewBag.Pos.idHistorico</td>
        <td class="text-left">@ViewBag.Pos.TabLeitor.nmLeitor</td>
        <td class="text-center">@ViewBag.Pos.dsStatus</tdclass>
    </tr>
    <tr>
        <td> &nbsp;</td>
        <td> &nbsp;</td>
        <td> &nbsp;</td>
    </tr>
    <tbody>
        @foreach (var leitor in ViewBag.Leitor)
        {
            <tr>
                <td class="text-center">@leitor.idHistorico</td>
                <td class="text-left">@leitor.TabLeitor.nmLeitor</td>
                <td class="text-center">@leitor.dsStatus</td>
            </tr>
        }
    </tbody>
</table>
