
@{
    ViewBag.Title = "ListaRanking";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<h3 class="text-left"><strong>Ranking Exemplares</strong></h3>
<table class="table center table-striped">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Exemplar</th>
            <th>Leitores</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exemplar in ViewBag.Livro)
        {
            <tr>
                <td>@exemplar.idHistorico</td>
                <td>@exemplar.TabExemplar.TabTitulo.nmTitulo</td>
                <td>@exemplar.dsStatus</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h3 class="text-left"><strong>Ranking Leitores</strong></h3>
<table class="table center table-striped">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Leitor</th>
            <th>Exemplares</th>
        </tr>
    </thead>
    <tr>
        <td>@ViewBag.Pos.idHistorico</td>
        <td>@ViewBag.Pos.TabLeitor.nmLeitor</td>
        <td>@ViewBag.Pos.dsStatus</td>
    </tr>
    <tr>
        <td> &nbsp;</td>
        <td> &nbsp;</td>
        <td> &nbsp;</td>
    </tr>
    <tbody>
        @foreach (var leitor in ViewBag.Leitor)
        {
            <tr>
                <td>@leitor.idHistorico</td>
                <td>@leitor.TabLeitor.nmLeitor</td>
                <td>@leitor.dsStatus</td>
            </tr>
        }
    </tbody>
</table>
