@model List<TabHistorico>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Lista", "Exemplar", FormMethod.Post, new { }))
{

    <div class="main-block main-search">
        <section class="search">
            <div class="input-group">
                @Html.TextBox("titulo", null, new { @class = "form-control", id = "input-titulo", placeholder = "Digite o título a ser pesquisado" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            @if (ViewBag.SemLista != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.SemLista
                </div>
            }
            else
            {
                <div class="panel-group results" id="accordion">
                    <h3 class="text-left">Resultado da pesquisa:</h3>
                    @foreach (var item in Model)
                    {
                        <div class="panel panel-default">
                            <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#@item.idHistorico">
                                @item.TabExemplar.TabTitulo.nmTitulo -
                                @item.TabLeitor.TabLogradouroEnd.TabBairro.TabCidade.TabEstado.nmEstado
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                            <div id="@item.idHistorico" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 book-info">
                                            <div class="row panel-content-header"><h4><strong>Informações do Livro:</strong></h4></div>
                                            <div class="row"><strong>Título: </strong>@item.TabExemplar.TabTitulo.nmTitulo</div>
                                            <div class="row"><strong>Autor: </strong>@item.TabExemplar.nmAutor</div>
                                            <div class="row"><strong>Edição: </strong>@item.TabExemplar.dsEdicao</div>
                                            <div class="row"><strong>Editora: </strong>@item.TabExemplar.nmEditora</div>
                                            <div class="row">@Html.ActionLink(String.Format("Resenhas: {0}", @item.TabExemplar.TabResenha.Count().ToString()), "Lista", "Resenha", new { idExemplar = @item.TabExemplar.idExemplar }, new { style = "font-weight:bold" })</div>
                                        </div>
                                        <div class="col-md-6 book-owner">
                                            <div class="row panel-content-header"><h4><strong>Informações do Proprietário:</strong></h4></div>
                                            <div class="row"><strong>Login: </strong>@item.TabLeitor.dsLogin</div>
                                            <div class="row"><strong>Email: </strong>@item.TabLeitor.dsEmail</div>
                                            <div class="row"><strong>Celular: </strong>@item.TabLeitor.numCel</div>
                                            <div class="row">
                                                <strong>Local: </strong>
                                                @item.TabLeitor.TabLogradouroEnd.TabBairro.TabCidade.TabEstado.nmEstado,
                                                @item.TabLeitor.TabLogradouroEnd.TabBairro.TabCidade.nmCidade -
                                                @item.TabLeitor.TabLogradouroEnd.TabBairro.nmBairro
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    
                </div>
            }
        </section>
    </div>
}
